{% import "icons.twig" as icons %}

{% extends "Layout/main.twig" %}

{% block content %}
	<header class="visibility-hidden">
		<h1>Toutes les enchères</h1>
	</header>
	<!-- SECTION TOP 10 -->
	<section class="last-auctions">
		<header class="header__title">
			<h2>Les dernières nouveautés</h2>
			<div class="line"></div>
		</header>
		<div class="slider">
			<div
				class="slides">
				<!-- CARD -->
				<article class="card">
					<header class="card__header">
						<h3>Estonian Stamps private collection</h3>
						{{ icons.get('heart', 'icon') }}
						<div class="chip">Lot #181</div>
						<div class="chip large">Prix de lancement:
							<b>100$</b>
						</div>
					</header>

					<div class="card__image">
						<figure>
							<img src="https://res.cloudinary.com/dwhnxncff/image/upload/v1628100096/stampee/superman.jpg" alt="Estonian Stamps private collection"/>
						</figure>
					</div>

					<div class="card__footer">
						<div class="chip light status">L'enchère débute dans 2 jours 5h 30mn</div>
						<div class="chip transparent views">22 vues</div>
						<div class="chip transparent favorites">11 favoris</div>
						<div class="chip transparent entrants">7 participants</div>
						{{ icons.get('menu', 'icon--m card__menu') }}
					</div>
				</article>
				<!-- CARD -->
				<article class="card">
					<header class="card__header">
						<h3>Estonian Stamps private collection</h3>
						{{ icons.get('heart', 'icon') }}
						<div class="chip">Lot #181</div>
						<div class="chip large">Prix de lancement:
							<b>100$</b>
						</div>
					</header>

					<div class="card__image">
						<figure>
							<img src="https://res.cloudinary.com/dwhnxncff/image/upload/v1628088529/stampee/Estonian-postage-stamps.jpg" alt="Estonian Stamps private collection"/>
						</figure>
					</div>

					<div class="card__footer">
						<div class="chip light status">L'enchère débute dans 2 jours 5h 30mn</div>
						<div class="chip transparent views">22 vues</div>
						<div class="chip transparent favorites">11 favoris</div>
						<div class="chip transparent entrants">7 participants</div>
						{{ icons.get('menu', 'icon--m card__menu') }}
					</div>
				</article>
				<!-- CARD -->
				<article class="card">
					<header class="card__header">
						<h3>Estonian Stamps private collection</h3>
						{{ icons.get('heart', 'icon') }}
						<div class="chip">Lot #181</div>
						<div class="chip large">Prix de lancement:
							<b>100$</b>
						</div>
					</header>

					<div class="card__image">
						<figure>
							<img src="https://res.cloudinary.com/dwhnxncff/image/upload/v1628088529/stampee/Estonian-postage-stamps.jpg" alt="Estonian Stamps private collection"/>
						</figure>
					</div>

					<div class="card__footer">
						<div class="chip light status">L'enchère débute dans 2 jours 5h 30mn</div>
						<div class="chip transparent views">22 vues</div>
						<div class="chip transparent favorites">11 favoris</div>
						<div class="chip transparent entrants">7 participants</div>
						{{ icons.get('menu', 'icon--m card__menu') }}
					</a>
				</div>
			</article>
			<!-- CARD -->
			<article class="card">
				<header class="card__header">
					<h3>Estonian Stamps private collection</h3>
					{{ icons.get('heart', 'icon') }}
					<div class="chip">Lot #181</div>
					<div class="chip large">Prix de lancement:
						<b>100$</b>
					</div>
				</header>

				<div class="card__image">
					<figure>
						<img src="https://res.cloudinary.com/dwhnxncff/image/upload/v1628088529/stampee/Estonian-postage-stamps.jpg" alt="Estonian Stamps private collection"/>
					</figure>
				</div>

				<div class="card__footer">
					<div class="chip light status">L'enchère débute dans 2 jours 5h 30mn</div>
					<div class="chip transparent views">22 vues</div>
					<div class="chip transparent favorites">11 favoris</div>
					<div class="chip transparent entrants">7 participants</div>
					{{ icons.get('menu', 'icon--m card__menu') }}
				</div>
			</article>
			<!-- CARD -->
			<article class="card">
				<header class="card__header">
					<h3>Estonian Stamps private collection</h3>
					{{ icons.get('heart', 'icon') }}
					<div class="chip">Lot #181</div>
					<div class="chip large">Prix de lancement:
						<b>100$</b>
					</div>
				</header>

				<div class="card__image">
					<figure>
						<img src="https://res.cloudinary.com/dwhnxncff/image/upload/v1628088529/stampee/Estonian-postage-stamps.jpg" alt="Estonian Stamps private collection"/>
					</figure>
				</div>

				<div class="card__footer">
					<div class="chip light status">L'enchère débute dans 2 jours 5h 30mn</div>
					<div class="chip transparent views">22 vues</div>
					<div class="chip transparent favorites">11 favoris</div>
					<div class="chip transparent entrants">7 participants</div>
					{{ icons.get('menu', 'icon--m card__menu') }}
				</div>
			</article>
			<!-- CARD -->
			<article class="card">
				<header class="card__header">
					<h3>Estonian Stamps private collection</h3>
					{{ icons.get('heart', 'icon') }}
					<div class="chip">Lot #181</div>
					<div class="chip large">Prix de lancement:
						<b>100$</b>
					</div>
				</header>

				<div class="card__image">
					<figure>
						<img src="https://res.cloudinary.com/dwhnxncff/image/upload/v1628088529/stampee/Estonian-postage-stamps.jpg" alt="Estonian Stamps private collection"/>
					</figure>
				</div>

				<div class="card__footer">
					<div class="chip light status">L'enchère débute dans 2 jours 5h 30mn</div>
					<div class="chip transparent views">22 vues</div>
					<div class="chip transparent favorites">11 favoris</div>
					<div class="chip transparent entrants">7 participants</div>
					{{ icons.get('menu', 'icon--m card__menu') }}
				</div>
			</article>
			<!-- CARD -->
			<article class="card">
				<header class="card__header">
					<h3>Estonian Stamps private collection</h3>
					{{ icons.get('heart', 'icon') }}
					<div class="chip">Lot #181</div>
					<div class="chip large">Prix de lancement:
						<b>100$</b>
					</div>
				</header>

				<div class="card__image">
					<figure>
						<img src="https://res.cloudinary.com/dwhnxncff/image/upload/v1628088529/stampee/Estonian-postage-stamps.jpg" alt="Estonian Stamps private collection"/>
					</figure>
				</div>

				<div class="card__footer">
					<div class="chip light status">L'enchère débute dans 2 jours 5h 30mn</div>
					<div class="chip transparent views">22 vues</div>
					<div class="chip transparent favorites">11 favoris</div>
					<div class="chip transparent entrants">7 participants</div>
					{{ icons.get('menu', 'icon--m card__menu') }}
				</div>
			</article>
			<!-- CARD -->
			<article class="card">
				<header class="card__header">
					<h3>Estonian Stamps private collection</h3>
					{{ icons.get('heart', 'icon') }}
					<div class="chip">Lot #181</div>
					<div class="chip large">Prix de lancement:
						<b>100$</b>
					</div>
				</header>

				<div class="card__image">
					<figure>
						<img src="https://res.cloudinary.com/dwhnxncff/image/upload/v1628088529/stampee/Estonian-postage-stamps.jpg" alt="Estonian Stamps private collection"/>
					</figure>
				</div>

				<div class="card__footer">
					<div class="chip light status">L'enchère débute dans 2 jours 5h 30mn</div>
					<div class="chip transparent views">22 vues</div>
					<div class="chip transparent favorites">11 favoris</div>
					<div class="chip transparent entrants">7 participants</div>
					{{ icons.get('menu', 'icon--m card__menu') }}
				</div>
			</article>
			<!-- CARD -->
			<article class="card">
				<header class="card__header">
					<h3>Estonian Stamps private collection</h3>
					{{ icons.get('heart', 'icon') }}
					<div class="chip">Lot #181</div>
					<div class="chip large">Prix de lancement:
						<b>100$</b>
					</div>
				</header>

				<div class="card__image">
					<figure>
						<img src="https://res.cloudinary.com/dwhnxncff/image/upload/v1628088529/stampee/Estonian-postage-stamps.jpg" alt="Estonian Stamps private collection"/>
					</figure>
				</div>

				<div class="card__footer">
					<div class="chip light status">L'enchère débute dans 2 jours 5h 30mn</div>
					<div class="chip transparent views">22 vues</div>
					<div class="chip transparent favorites">11 favoris</div>
					<div class="chip transparent entrants">7 participants</div>
					{{ icons.get('menu', 'icon--m card__menu') }}
				</div>
			</article>
			<!-- CARD -->
			<article class="card">
				<header class="card__header">
					<h3>Estonian Stamps private collection</h3>
					{{ icons.get('heart', 'icon') }}
					<div class="chip">Lot #181</div>
					<div class="chip large">Prix de lancement:
						<b>100$</b>
					</div>
				</header>

				<div class="card__image">
					<figure>
						<img src="https://res.cloudinary.com/dwhnxncff/image/upload/v1628088529/stampee/Estonian-postage-stamps.jpg" alt="Estonian Stamps private collection"/>
					</figure>
				</div>

				<div class="card__footer">
					<div class="chip light status">L'enchère débute dans 2 jours 5h 30mn</div>
					<div class="chip transparent views">22 vues</div>
					<div class="chip transparent favorites">11 favoris</div>
					<div class="chip transparent entrants">7 participants</div>
					{{ icons.get('menu', 'icon--m card__menu') }}
				</div>
			</article>
		</div>
		<!-- SLIDE CONTROLS -->
		{{ icons.get('chevron-left', 'icon--m slider--left') }}
		{{ icons.get('chevron-right', 'icon--m slider--right') }}
	</div>
</section>

<!-- SECTION FILTRES -->
<section class="filters">
	<header class="filters__header">
		<h2 class="visibility-hidden">Filtrer votre recherche</h2>
		<figure class="navbar__icon">
			{{ icons.get('expand', 'icon--m') }}
			<figcaption>Ouvrir les filtres</figcaption>
		</figure>
	</header>

	<form method="POST" action="/stampee/public/gallery/index">
		<div class="filters__box">
			<div class="filters__box--buttons">
				<button class="filter-button save" type="submit" name="save">
					{{ icons.get('save', 'icon') }}
					<span class="icon-info">Enregister les filtres</span>
				</button>
				<button class="filter-button reset" type="submit" name="reset">
					{{ icons.get('save', 'icon') }}
					<span class="icon-info">Tout réinitialiser</span>
				</button>
			</div>
			<div
				class="filters__box--selects">
				<!-- Filtrer par thèmes -->
				<div class="select">
					<header class="select__header">
						<label for="theme">Filtrer par thèmes</label>
						{{ icons.get('reset-dark', 'icon' )}}
					</header>
					<select id="theme" multiple size="6" name="by_theme[]">
						{% for theme in themes %}
							<option value="{{ theme.id|e }}" {% if theme.name is same as filters.theme %} selected {% endif %}>
								{{ theme.name|e }}
							</option>
						{% endfor %}
					</select>
				</div>

				<!-- Filtrer par pays -->
				<div class="select">
					<header class="select__header">
						<label for="country">Filtrer par pays</label>
						{{ icons.get('reset-dark', 'icon' )}}
					</header>
					<select id="country" multiple size="6" name="by_country[]">
						{% for country in countries %}
							<option value="{{ country.id|e }}" {% if country.name is same as filters.country %} selected {% endif %}>
								{{ country.name|e }}
								({{ country.iso|e }})
							</option>
						{% endfor %}
					</select>
				</div>
				<!-- Filtrer par catégories -->
				<div class="select">
					<header class="select__header">
						<label for="category">Filtrer par catégorie</label>
						{{ icons.get('reset-dark', 'icon' )}}
					</header>
					<select id="category" multiple size="6" name="by_category[]">
						{% for category in categories %}
							<option value="{{ category.id|e }}" {% if category.name is same as filters.category %} selected {% endif %}>
								{{ category.name|e }}
							</option>
						{% endfor %}
					</select>
				</div>
				<!-- Filtrer par status -->
				<div class="checkboxes">
					<div class="checkbox">
						<input type="checkbox" id="forthcoming"/>
						<label for="a_venir">A venir</label>
					</div>
					<div class="checkbox">
						<input type="checkbox" id="expired"/>
						<label for="expire">Expiré</label>
					</div>
					<div class="checkbox">
						<input type="checkbox" id="ongoing"/>
						<label for="en_cours">En cours</label>
					</div>
				</div>
				<!-- Filtrer par prix -->
				<div class="range">
					<header class="range__header">
						<label for="price_range">Filtrer par prix</label>
					</header>
					<div class="range__body">
						<span class="range__body--min">Prix min</span>
						<input id="price_range" type="range" min="0"/>
						<span class="range__body--max">Prix max</span>
					</div>
				</div>
				<!-- Filtrer par années -->
				<div class="date-picker">
					<header class="date-picker__header">
						<span>Filtrer par années</span>
						<svg class="icon">
							<use xlink:href="assets/svg/sprite.svg#reset-dark" href="assets/svg/sprite.svg#reset-dark"/>
						</svg>
					</header>
					<div class="date-picker__body">
						<div class="date-picker__body--startDate">
							<svg class="icon--m">
								<use xlink:href="assets/svg/sprite.svg#calendar" href="assets/svg/sprite.svg#calendar"/>
							</svg>
							<span>Début:
							</span>
							<label class="visibility-hidden" for="year_start">Date de début</label>
							<select id="year_start">
								<option value="2010">2021</option>
								<option value="2010">2020</option>
								<option value="2010">2019</option>
								<option value="2010">2018</option>
								<option value="2010">2017</option>
								<option value="2010">2016</option>
								<option value="2010">2015</option>
								<option value="2010">2014</option>
								<option value="2010">2013</option>
								<option value="2010">2012</option>
								<option value="2010">2011</option>
								<option value="2010">2010</option>
							</select>
						</div>
						<div class="date-picker__body--endDate">
							<svg class="icon--m">
								<use xlink:href="assets/svg/sprite.svg#calendar" href="assets/svg/sprite.svg#calendar"/>
							</svg>
							<span>Fin:
							</span>
							<label class="visibility-hidden" for="year_end">Date de fin</label>
							<select id="year_end">
								<option value="2010">2021</option>
								<option value="2010">2020</option>
								<option value="2010">2019</option>
								<option value="2010">2018</option>
								<option value="2010">2017</option>
								<option value="2010">2016</option>
								<option value="2010">2015</option>
								<option value="2010">2014</option>
								<option value="2010">2013</option>
								<option value="2010">2012</option>
								<option value="2010">2011</option>
								<option value="2010">2010</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</section>

<!-- SECTION RESULTATS DE RECHERCHE -->
<section class="results">
	<header class="results__header">
		<div class="flex">
			<h2>Résultats trouvés:
				{{ auctionsCount }}</h2><br/>
			<div class="results__display">
				{{ icons.get('grid', 'icon') }}
				{{ icons.get('lines', 'icon') }}
			</div>
		</div>
		{% if filters|length > 0 %}
			<p>
			(Des filtres sont actifs:
			{% for key, value in filters %}
				<b>{{ key }}:</b> {{ value }}  
			{% endfor %}
			)
			</p>
		{% endif %}
		<div class="line"></div>
		<form class="results__sort" method="POST">
			<div class="form-group">
				<label for="search">Mot-clé:
				</label>
				<input type="text" name="search" id="search"/>
			</div>
			<div class="form-group">
				<label for="sort">Tri rapide:
				</label>
				<select name="sort" id="sort">
					<option value="1">Par date de parution</option>
					<option value="2">Par ordre alphabétique</option>
					<option value="3">Par popularité</option>
					<option value="4">Par numéro de lot</option>
				</select>
			</div>
			{{ icons.get('reverse', 'icon') }}
		</form>
	</header>

	<section class="grid__cards">
		<header class="visibility-hidden">
			<h2>Toutes les enchères</h2>
		</header>
		<!-- CARD -->
		{% for auction in auctions %}
			<article class="card" data-js-card={{ auction.auctionId }}>
				<header class="card__header">
					<h3>{{ auction.auctionName }}</h3>
					{{ auction.isFavorite ? icons.get('heart', 'icon favorite') : icons.get('heart', 'icon') }}
					<div class="chip">Lot #{{ auction.auctionId }}</div>
					<div class="chip large">
						{% if auction.statusKey is same as "expired" %}
							Prix final:
							<b>{{ auction.current_price ?? auction.start_price }}$</b>
						{% elseif auction.statusKey is same as "forthcoming"  %}
							Prix de lancement:
							<b>{{ auction.current_price ?? auction.start_price }}$</b>
						{% else %}
							Prix courant:
							<b>{{ auction.current_price ?? auction.start_price }}$</b>
						{% endif %}
					</div>
				</header>

				<div class="card__image">
					<figure>
						<img src="{{ auction.image }}" alt="{{ auction.auctionName }}"/>
					</figure>
				</div>

				<div class="card__footer">
					<div class="chip light status">{{ auction.status }}</div>
					<div class="chip transparent views">22 vues</div>
					<div class="chip transparent favorites">11 favoris</div>
					<div class="chip transparent entrants">7 participants</div>
					<a class="card__menu" href="select?auction={{auction.auctionId}}">
						{{ icons.get('menu', 'icon--m') }}
					</a>
				</div>
			</article>
		{% endfor %}
	</section>
</section>{% endblock %}
